*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
.container1{
    width: 100%;
    height: 100vh;
    background-color:#7cfd26;
    transform: skew(0deg,-15deg) translateY(-240px);
}
.content{
    width: 100%;
    color: #000;
    padding: 10px;
    transform: skew(0deg,15deg) translateY(350px);
}
.content h1{
    width: 100%;
    padding-bottom: 20px;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    padding: 0px 200px;
    -webkit-text-stroke: 2px #000;
}
.content p{
    padding: 10px 200px;
    margin: 0;
    line-height: 1.5;
    font-size: 18px;
}
.container2{
    width: 100%;
    padding: 0px 100px 200px;
    text-align: right;
}
.container2 h1{
    width: 100%;
    padding-bottom: 20px;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    padding: 0px 200px;
    -webkit-text-stroke: 2px #7cfd26;
}
.container2 p{
    padding: 10px 200px;
    margin: 0;
    line-height: 1.5;
    font-size: 18px;
    text-align: right;
}

@media screen and (max-width:720px){
    .content{
        padding: 0px 30px;
        position: absolute;
        transform: skew(0deg,15deg) translateY(250px);
    }
    .content h1{
        position: relative;
        padding: 0px 30px;
        font-size: 50px;
    }
    .content p{
        padding: 10px 30px;
    }
    .container2{
        position: relative;
        padding: 0px 30px;
        font-size: 50px;
    }
    .container2 p{
        padding: 10px 30px;
    }

}
